body {
}
.picture-frame {
    margin: auto;
    border: 1px solid pink;
    position: relative;
    width: 333px;
    /* overflow: hidden; */
}

.wide-div {
    width: 1000px;
    border: solid 1px black;
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.wide-div.move-right {
    left: 0;
    transform: translate(0%);
}

.wide-div.move-left{
    left: 0%;
    transform: translate(0%);
    float: right;
}

.slide {
    flex: 1;
    border: solid 1px black;
    height: 200px;
}

.slide1 {
    background-color: red;
}

.slide2 {
    background-color: blue;
}
.slide3 {
    background-color: yellow;
}